@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
/* TODO font onload eklenecek*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'f1';
    src: url('./assets/fonts/Formula1-Regular-1.ttf') format('truetype');
}

@font-face {
    font-family: 'f1-wide';
    src: url('./assets/fonts/Formula1-Wide.ttf') format('truetype');
}

body {
    /*@apply select-none;*/
    /*  @apply bg-gray-100/60 backdrop-filter backdrop-blur-xl select-none rounded-lg;*/
    /*background-image: url(bg.png);*/
    /*background-size: cover;*/
}

.main-bg {
    background-image: url(bg.png);
    background-size: cover;
}

.custom-shadow {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}


/* crate glow effect */
.glow {
    box-shadow: 0 0 7px #fff;
}

.font-ubuntu-thin {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.font-ubuntu-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.font-ubuntu-medium {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.font-ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.draggable {
    -webkit-app-region: drag;
}

.text-f1 {
    font-family: 'f1', sans-serif;
}

.text-f1-wide {
    font-family: 'f1-wide', sans-serif;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar-button {
    -webkit-app-region: no-drag;
}
